---
http_interactions:
- request:
    method: get
    uri: http://imgur.com/a/Xx5JN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\n<html
        lang=\"en\" xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n    <link href=\"https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i\"
        rel=\"stylesheet\">\n    <title>                        \n        \n    \n\n
        \   2016-02-22 BRODY - Album on Imgur</title>\n    <meta http-equiv=\"content-type\"
        content=\"text/html;charset=utf-8\" />\n    <meta name=\"viewport\" content=\"width=1138\">\n
        \           <meta name=\"robots\" content=\"noindex, nofollow\" />\n    \n
        \   <meta name=\"keywords\" content=\"images, funny, image host, image sharing,
        reaction gif, viral images, current events, cute, visual storytelling, gif\"
        />\n                            <meta name=\"description\" content=\"Album
        . 2016-02-22 BRODY\" />[...]
